.banniereProfil {
    width: 100vw;
    height: 103px;
    top: 0px;
    background-color: aqua;
}

.PP {
    width: 50px;
    height: 50px;
    left: 30px;
    top: 151px;
    background-color: aqua;
    border-radius: 25px;
}

.modifierProfil {
    cursor: pointer;
    width: 141px;
    height: 27px;
    left: 230px;
    top: 229px;
}