.searchBarre {
  width: 73vw;
  display: block;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  background-color: #fff;
}

input[type="radio"].demo1 {
  display: none;
}

input[type="radio"].demo1 + label {
    padding: 0.3rem 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}


.radioSearch {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 30px;
}



.recherche {
  margin-left: 20px;
}